.scroll-stack-scroller {
  width: 100%;
  height: 100%;
  position: relative;
}

.scroll-stack-scroller.scroll-stack-window {
  overflow: visible;
}

.scroll-stack-inner {
  width: 100%;
  position: relative;
}

.scroll-stack-card {
  width: 100%;
  position: relative;
  will-change: transform, filter;
  transform-origin: top center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 1;
}

.scroll-stack-end {
  height: 50vh;
  width: 100%;
  position: relative;
}

